body {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin: 0;
}

.background-container {
    background: url('../images/logo.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
}

/* Navbar */

.nav-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-size: xx-large;
}

/* Callout */
.container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Optional: To make the form stand out against the background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.callout {
    background-color: rgba(255, 255, 255, 0.9); /* Optional: To make the form stand out against the background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    width: 100%;
}

/* Block dividers */

.block-divider {
    width: 500px;
    height: 4px;
    border: 0;
}

.block-divider--green {
    background-color: #b7ff6a;
    
}




.btn--green {
    background-color: #b7ff6a;
    border-radius: 23px;
    border: 1px solid #b7ff6a;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #3c8444;
    border-color: #3c8444;
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    margin-bottom: 30px;
}

.jumbotron-small {
    font-style: italic;
    font-size: larger;
    margin-bottom: 30px;
}
