{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Fit Friends</title>
</head>
<body>
    <header>
        <!--Nav-->
        <div class="container-fluid nav-box">
        <nav class="navbar navbar-dark navbar-expand-sm">
        <a href="/" class="navbar-brand">
                    Fit Friends</a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span></button>
                
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
        <ul class="navbar-nav mr-auto">
            <li class=" active nav-item mr-2"><a class="nav-link" href="{% url 'register' %}">Home</a></li>
            <li class=" active nav-item mr-2"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        </ul>
    </div>
        <div class="d-none d-md-block">
            <p class="navbar-text-dark my-auto mr-2"><i>Try out your free profile today!</i></p>
            <a class="btn btn--green btn-sm" href="#" role="button" data-toggle="modal" data-target="#signupModal">Sign Up</a>
        </div>
    </nav>
    </div>
    </header>
    <main>
        <hr>
        <section class="description">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mb-4 text-white">Welcome to Fit Friends</h2>
                        <p class="lead text-center text-white">Fit Friends is more than just a social network; it's a vibrant community dedicated to connecting individuals with a passion for fitness and well-being. Whether you're an avid athlete, a gym enthusiast, or someone just starting their fitness journey, Fit Friends is your platform to meet like-minded individuals who share your interests and goals.</p>
                        <p class="text-center text-white">With Fit Friends, you can:</p>
                        <ul class="list-unstyled text-center text-white">
                            <li>Discover new fitness buddies who enjoy the same activities as you.</li>
                            <li>Arrange meetups to engage in your favorite sports or workouts together.</li>
                            <li>Share valuable tips, insights, and motivational stories to inspire others.</li>
                            <li>Connect with individuals who understand your fitness journey and provide support and encouragement.</li>
                        </ul>
                        <p class="text-center text-white">Join our community today and embark on your fitness journey surrounded by supportive friends who share your passion!</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!-- Features -->
        <section class="features">
            <div class="row">
                <div class="col-12 my-5">
                    <h2 class="text-uppercase text-white">Features:</h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 text-white">
                    <div class="feature">
                        <h3><i class="fas fa-gift d-none d-sm-inline"></i> Status Posting <span class="badge badge-success">New!</span></h3>
                        <p>Share your thoughts, ask questions, or post updates to connect with other fitness enthusiasts.</p>
                        <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-white">
                    <div class="feature">
                        <h3><i class="fas fa-credit-card d-none d-sm-inline"></i> Private Messaging</h3>
                        <p>Send private messages to your Fit Friends to discuss fitness goals, tips, and motivations.</p>
                        <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                    </div>
                </div>
                <div class="col-12 d-md-none d-lg-block col-lg-4 text-white">
                    <div class="feature">
                        <h3><i class="fas fa-times-circle d-none d-sm-inline"></i> Personal Profile</h3>
                        <p>Create your personal profile to showcase your fitness journey, view your posts, and update your biography section.</p>
                        <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.features -->
    </main>

    <!-- Footer -->
    <footer class="text-white">
        @ 2024 Fit Friends | A WiP project by Abi Kirkham
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>
