<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h2>Dashboard</h2>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'profile' user.username %}">My Profile</a>
    <a href="{% url 'messages' %}">Messages</a>
    <h3>Post an update to your fitness pals</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title">
        <textarea name="content" placeholder="Content"></textarea>
        <button type="submit" name="post_status">Post Status</button>
    </form>
    <h4>Posts</h4>
    <ul>
    {% for post in posts %}
        <li>
            <strong><a href="{% url 'profile' post.author.username %}">{{ post.title }}</a></strong> by <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a> on {{ post.created_at|date:"F d, Y H:i" }}<br>
            {{ post.content }}<br>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <textarea name="content" placeholder="Comment"></textarea>
                <button type="submit" name="post_comment">Post Comment</button>
            </form>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button type="submit" name="like_post">{% if request.user in post.likes.all %}Unlike{% else %}Like{% endif %}</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
