{% extends "base.html" %}

{% block title %}Dashboard - Fit Friends{% endblock %}

{% block content %}{% load crispy_forms_tags %}
<div class="container mt-5 text-dark">
    <h2 class="text-dark">Dashboard</h2>
    <h3 class="text-dark">Post an update to your fit friends</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control custom-textarea" name="content" placeholder="Share your thoughts with your FitFriends"></textarea>
        </div>
        <button type="submit" class="btn--green" name="post_status">Post Status</button>
    </form>
    <br><br>
    <ul class="list-group">
        {% for post, comments in posts_with_comments %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ post.author.profile.image.url }}" alt="{{ post.author.username }}'s profile image" class="profile-img-dashboard">
                </div>
                <div class="col-md-8 text-dark">
                    <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a><small> on {{ post.created_at|date:"F d, Y H:i" }}</small><br>
                    {{ post.content }}
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-primary btn-sm btn-custom likeButton" data-post-id="{{ post.id }}">
                        <i class="far fa-thumbs-up"></i> 
                        <span id="likeText">Like</span>
                        <span id="likeCount">{{ post.like_set.count }}</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 card mb-4 mt-3">
                    <small><p>Comments:</p></small>
                    <div class="card-body">
                        {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p>
                                {{ comment.name }}
                                <span class=" text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span><small>wrote:</small>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 card mb-4 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <p><small>Leave a comment:</small></p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}" class="test">
                            {{ comment_form.as_p }}
                            <button type="submit" class="btn--green" name="comment_post">Submit</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
