<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Fit Friends</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' user.username %}">My Profile</a>
            </li>
        </ul>
    </nav>
    <div class="container">
    <h2>Messages</h2>
    <h3>Received Messages</h3>
    <ul>
    {% for message in messages_received %}
        <li>From: {{ message.sender }} - {{ message.content }}</li>
    {% endfor %}
    </ul>

    <h3>Sent Messages</h3>
    <ul>
    {% for message in messages_sent %}
        <li>To: {{ message.receiver }} - {{ message.content }}</li>
    {% endfor %}
    </ul>
</div>
</body>
</html>
