{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }} - Fit Friends{% endblock %}

{% block content %}
<div class="container mt-5 pt-3">
    <h2 class="text-dark">{{ user.username }}</h2>
    {% comment %}
    <img src="{% if user.profile.image.url %}{{ user.profile.image.url }}{% else %}/static/images/default.jpg{% endif %}" alt="Profile Image" class="profile-img">
    {% endcomment %}
    {% if user.profile.image == 'default.jpg' %}
    <img src="/static/images/default.jpg" alt="Profile Image" class="profile-img">
    {% else %}
    <img src="{{ user.profile.image.url}}" alt="Profile Image" class="profile-img">
    {% endif %}

    
    {% if user == request.user %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label class="text-dark" for="profileImage">Update Profile Image:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="profileImage" name="image">
                <label class="custom-file-label" for="profileImage">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn--green">Save Profile Picture</button>
    </form><br>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group text-dark">
            <label for="bio">Bio:</label>
            <textarea class="form-control custom-textarea" id="bio" name="bio" rows="3">{{ user.profile.bio }}</textarea>
        </div>
        <button type="submit" class="btn--green">Save Bio</button>
    </form>
    
    {% else %}
    <div class="container">
        <h4>Bio:</h4>
        <p>{{ user.profile.bio }}</p>
    </div>
    {% endif %}
    <hr>
    {% if user != request.user %}
        {% if is_friend %}
            <a href="{% url 'unfollow' user.username %}" class="btn btn-danger">Unfollow</a>
        {% else %}
            <a href="{% url 'follow' user.username %}" class="btn btn-primary">Follow</a>
        {% endif %}
    {% endif %}
    <hr>
    <h3 class="mt-4 text-dark">Posts</h3>
    <ul class="list-group">
        {% for post in user_posts %}
            <li class="list-group-item">
                <strong>{{ post.title }}</strong> - {{ post.created_at|date:"F d, Y H:i" }}<br>
                {{ post.content }}
                {% if post.author == request.user %}
                    <form method="post" action="{% url 'delete_post' post.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h3 class="mt-4 text-dark">Followers</h3>
    <ul class="list-group">
        {% for friend in user.profile.friends.all %}
            <li class="list-group-item"><a href="{% url 'profile' friend.username %}">{{ friend.username }}</a></li>
        {% endfor %}
    </ul>

    {% if user != request.user %}
        <h3 class="mt-4 text-dark">Your Followers</h3>
        <ul class="list-group">
            {% for friend in logged_in_friends %}
                <li class="list-group-item"><a href="{% url 'profile' friend.username %}">{{ friend.username }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}

