{% extends 'base.html' %}
{% load static %}

{% block title %}Fit Friends Register{% endblock %}

{% block content %}
<div class="container-lg login-container mt-5 pt-3">
    <div class="row">
        <div class="col-12">
            <section class="callout text-center">
                <h1 class="jumbotron-header">Find a gym buddy</h1>
                <hr class="block-divider--green">
                <p class="jumbotron-small">
                    Find a gym buddy to help you stay motivated and reach your fitness goals. 
                    Find out more <a class="nav-link text-dark" href="{% url 'about' %}">here.</a>
                </p>
                <a class="btn--green btn-lg text-dark href="#" role="button" data-toggle="modal" data-target="#signupModal">Sign Up Now!</a>
            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" id="signupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Start your journey</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn--green">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
