body {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin: 0;
}

.background-container {
    background: url('../images/logo.jpg') no-repeat center center fixed;
    background-size: cover;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Navbar */

.nav-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-size: xx-large;
}

/* Callout */
.callout-container {
    align-items: center;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: whitesmoke;
}

.block-divider--green {
    background-color: #b7ff6a;
}

.block-divider--short {
    width: 35px;
}

/* Callout */

.btn--green {
    background-color: #b7ff6a;
    border-radius: 23px;
    border: 1px solid #b7ff6a;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #3c8444;
    border-color: #3c8444;
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    margin-bottom: 30px;
}

.jumbotron-small {
    font-style: italic;
    font-size: larger;
    margin-bottom: 30px;
}
